[Desktop Entry]
Type=Application
Name=Razer Kiyo Control
Comment=Adjust camera settings via v4l2-ctl
Icon=/usr/share/icons/camera-control.png
Exec=camerac
Terminal=false
Categories=Utility;
