[Desktop Entry]
Type=Application
Name=Razer Kiyo Control
Comment=Adjust camera settings via v4l2-ctl
Icon=camera-photo
Exec=camerac
Terminal=false
Categories=Utility;
